interactions:
- request:
    body: nonce=1618082723017
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/TradeBalance
  response:
    body:
      string: '{"error":[],"result":{"eb":"197.0337","tb":"6.0172","m":"0.0000","n":"0.0000","c":"0.0000","v":"0.0000","e":"6.0172","mf":"6.0172"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
