interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Time
  response:
    body:
      string: '{"error":[],"result":{"unixtime":1618599293,"rfc1123":"Fri, 16 Apr
        21 18:54:53 +0000"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1618599293982
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/TradeBalance
  response:
    body:
      string: '{"error":[],"result":{"eb":"16524.7595","tb":"749.7970","m":"0.0000","n":"0.0000","c":"0.0000","v":"0.0000","e":"749.7970","mf":"749.7970"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1618599294320
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/Balance
  response:
    body:
      string: '{"error":[],"result":{"ZEUR":"359.7280","XXBT":"0.0000002600","XETH":"0.1289943320","ADA":"0.00000001","XTZ":"0.00000080","LINK":"0.0000000000","YFI":"0.0000000100","UNI":"0.0000000000","AAVE":"0.0000000400","ETH2.S":"6.6236700000","ETH2":"0.0342686830","GRT":"0.0000000000"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1618599294681
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: start=1618531200&closetime=open&nonce=1618599294983
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    body:
      string: '{"error":[],"result":{"closed":{"OPVTXZ-5RISJ-CKZVHH":{"refid":null,"userref":0,"status":"closed","reason":null,"opentm":1618593523.7609,"closetm":1618593523.7627,"starttm":0,"expiretm":0,"descr":{"pair":"ETHEUR","type":"buy","ordertype":"limit","price":"2031.36","price2":"0","leverage":"none","order":"buy
        0.00982008 ETHEUR @ limit 2031.36","close":""},"vol":"0.00982008","vol_exec":"0.00982008","cost":"19.94","fee":"0.05","price":"2031.36","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}},"count":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
