interactions:
- request:
    body: nonce=1618250922553
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{"O7JHTY-754IO-YU46NZ":{"refid":null,"userref":0,"status":"open","opentm":1618250841.6683,"starttm":0,"expiretm":0,"descr":{"pair":"ETHEUR","type":"buy","ordertype":"limit","price":"1.00","price2":"0","leverage":"none","order":"buy
        500.00000000 ETHEUR @ limit 1.00","close":""},"vol":"500.00000000","vol_exec":"0.00000000","cost":"0.00000","fee":"0.00000","price":"0.00000","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
