interactions:
- request:
    body: nonce=1618436028041
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: start=1618358400&closetime=open&nonce=1618436028492
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    body:
      string: '{"error":[],"result":{"closed":{"OUHXFN-RTP6W-ART4VP":{"refid":null,"userref":0,"status":"closed","reason":null,"opentm":1618428747.8344,"closetm":1618428747.848,"starttm":0,"expiretm":0,"descr":{"pair":"ETHEUR","type":"buy","ordertype":"limit","price":"1938.11","price2":"0","leverage":"none","order":"buy
        0.01029256 ETHEUR @ limit 1938.11","close":""},"vol":"0.01029256","vol_exec":"0.01029256","cost":"19.94","fee":"0.05","price":"1938.10","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}},"count":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
