interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Time
  response:
    body:
      string: '{"error":[],"result":{"unixtime":1648319866,"rfc1123":"Sat, 26 Mar
        22 18:37:46 +0000"}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 26 Mar 2022 18:37:46 GMT
    status:
      code: 200
      message: OK
- request:
    body: nonce=1648319866481
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/TradeBalance
  response:
    body:
      string: '{"error":[],"result":{"eb":"21487.6894","tb":"75.3391","m":"0.0000","n":"0.0000","c":"0.0000","v":"0.0000","e":"75.3391","mf":"75.3391"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: nonce=1648319866868
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/Balance
  response:
    body:
      string: '{"error":[],"result":{"UNI":"0.0000000000","AAVE":"0.0000000400","ETH2.S":"6.9611000000","ETH2":"0.3704850930","KEEP":"0.0000000000","GRT":"0.0000000000","YFI":"0.0000000100","XTZ":"0.00000080","ADA":"0.00000001","ZEUR":"30.0016","XXBT":"0.0005136200","XETH":"0.0051910220","LINK":"0.0000000000"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: nonce=1648319867083
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: start=1648252800&closetime=open&nonce=1648319867316
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    body:
      string: '{"error":[],"result":{"closed":{},"count":0}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: pair=XETHZEUR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/public/Ticker
  response:
    body:
      string: '{"error":[],"result":{"XETHZEUR":{"a":["2840.60000","1","1.000"],"b":["2840.59000","100","100.000"],"c":["2840.40000","0.73013074"],"v":["2906.29526478","3846.49485575"],"p":["2839.50031","2837.55451"],"t":[3809,5468],"l":["2812.01000","2808.87000"],"h":["2861.49000","2861.49000"],"o":"2826.67000"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
