interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Time
  response:
    body:
      string: '{"error":[],"result":{"unixtime":1618522408,"rfc1123":"Thu, 15 Apr
        21 21:33:28 +0000"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1618522408160
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/TradeBalance
  response:
    body:
      string: '{"error":[],"result":{"eb":"1650.3006","tb":"76.9161","m":"0.0000","n":"0.0000","c":"0.0000","v":"0.0000","e":"76.9161","mf":"76.9161"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1618522408609
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/Balance
  response:
    body:
      string: '{"error":[],"result":{"ZEUR":"39.7280","XXBT":"0.0000002600","XETH":"0.1095983620","ADA":"0.00000001","XTZ":"0.00000080","LINK":"0.0000000000","YFI":"0.0000000100","UNI":"0.0000000000","AAVE":"0.0000000400","ETH2.S":"0.6236700000","ETH2":"0.0342686830","GRT":"0.0000000000"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1618522409030
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: start=1618444800&closetime=open&nonce=1618522409249
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    body:
      string: '{"error":[],"result":{"closed":{"OPVTXZ-5RISJ-CKZVHH":{"refid":null,"userref":0,"status":"closed","reason":null,"opentm":1618593523.7609,"closetm":1618593523.7627,"starttm":0,"expiretm":0,"descr":{"pair":"ETHEUR","type":"buy","ordertype":"limit","price":"3385.26","price2":"0","leverage":"none","order":"buy
        0.00982008 ETHEUR @ limit 2031.36","close":""},"vol":"0.00982008","vol_exec":"0.00982008","cost":"33.24","fee":"0.05","price":"2031.36","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}},"count":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: pair=XETHZEUR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/public/Ticker
  response:
    body:
      string: '{"error":[],"result":{"XETHZEUR":{"a":["2083.16000","1","1.000"],"b":["2083.15000","4","4.000"],"c":["2083.12000","0.00000485"],"v":["31444.18466921","37070.79436618"],"p":["2055.19663","2050.46677"],"t":[28594,32925],"l":["2006.00000","2004.45000"],"h":["2091.00000","2091.00000"],"o":"2031.74000"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: pair=XETHZEUR&type=buy&ordertype=limit&price=2083.16&volume=0.00957589&oflags=fciq&nonce=1618522409705
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"buy 0.00957589 ETHEUR @ limit
        2083.16"},"txid":["XYZS4K-OILOE-36ABCD"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
