interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.kraken.com/0/public/Time
  response:
    body:
      string: '{"error":[],"result":{"unixtime":1631476207,"rfc1123":"Sun, 12 Sep
        21 19:50:07 +0000"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1631476207843
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/TradeBalance
  response:
    body:
      string: '{"error":[],"result":{"eb":"233.2977","tb":"42.3654","m":"0.0000","n":"0.0000","c":"0.0000","v":"0.0000","e":"42.3654","mf":"42.3654"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1631476208323
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/Balance
  response:
    body:
      string: '{"error":[],"result":{"ZEUR":"35.0012","XXBT":"0.0000002600","XETH":"0.0000006020","ADA":"0.00000001","XTZ":"0.00000080","LINK":"0.0000000000","KEEP":"0.0000000000","YFI":"0.0000000100","UNI":"0.0000000000","AAVE":"0.0000000400","ETH2.S":"6.9611000000","ETH2":"0.2022962110","GRT":"0.0000000000"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: nonce=1631476208542
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/OpenOrders
  response:
    body:
      string: '{"error":[],"result":{"open":{}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: start=1631404800&closetime=open&nonce=1631476208769
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    body:
      string: '{"error":[],"result":{"closed":{},"count":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: pair=XETHZEUR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/public/Ticker
  response:
    body:
      string: '{"error":[],"result":{"XETHZEUR":{"a":["2882.44000","14","14.000"],"b":["2882.08000","1","1.000"],"c":["2882.45000","0.01609677"],"v":["5927.63021073","6554.64223185"],"p":["2871.93608","2863.24748"],"t":[8306,9758],"l":["2742.33000","2742.33000"],"h":["2943.26000","2943.26000"],"o":"2768.51000"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: pair=XETHZEUR&type=buy&ordertype=limit&price=2882.44&volume=0.00519042&oflags=fciq&nonce=1631476209219
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"txid":["O4OHPN-MU47M-3FUXEV"],"descr":{"order":"buy
        0.00519042 ETHEUR @ limit 2882.44"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: start=1631232000&closetime=open&nonce=1631476210567
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    body:
      string: '{"error":[],"result":{"closed":{"O4OHPN-MU47M-3FUXEV":{"refid":null,"userref":0,"status":"closed","reason":null,"opentm":1631476209.3574,"closetm":1631476209.3582,"starttm":0,"expiretm":0,"descr":{"pair":"ETHEUR","type":"buy","ordertype":"limit","price":"2882.44","price2":"0","leverage":"none","order":"buy
        0.00519042 ETHEUR @ limit 2882.44","close":""},"vol":"0.00519042","vol_exec":"0.00519042","cost":"14.96","fee":"0.03","price":"2882.43","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}},"count":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: pair=XXBTZEUR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/public/Ticker
  response:
    body:
      string: '{"error":[],"result":{"XXBTZEUR":{"a":["38857.20000","3","3.000"],"b":["38857.10000","2","2.000"],"c":["38857.20000","0.00010000"],"v":["667.33803782","977.73454799"],"p":["38651.47637","38568.28134"],"t":[13709,16927],"l":["37982.60000","37982.60000"],"h":["39208.90000","39208.90000"],"o":"38265.90000"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: pair=XXBTZEUR&type=buy&ordertype=limit&price=38857.2&volume=0.00051336&oflags=fciq&nonce=1631476211020
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"txid":["OMHP5J-W3RDC-C7LHOO"],"descr":{"order":"buy
        0.00051336 XBTEUR @ limit 38857.2"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
