interactions:
- request:
    body: pair=XETHZEUR&type=buy&ordertype=limit&price=1938.11&volume=0.01029256&oflags=fciq&nonce=1618428747681
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/AddOrder
  response:
    body:
      string: '{"error":[],"result":{"descr":{"order":"buy 0.01029256 ETHEUR @ limit
        1938.11"},"txid":["OUHXFN-RTP6W-ART4VP"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
