interactions:
- request:
    body: start=1618185600&closetime=open&nonce=1618250923821
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kraken.com/0/private/ClosedOrders
  response:
    body:
      string: '{"error":[],"result":{"closed":{"OPHJMI-YDCPY-POU4AJ":{"refid":null,"userref":0,"status":"closed","reason":null,"opentm":1618211413.0554,"closetm":1618211434.2471,"starttm":0,"expiretm":0,"descr":{"pair":"ETHEUR","type":"buy","ordertype":"limit","price":"1831.26","price2":"0","leverage":"none","order":"buy
        0.01092144 ETHEUR @ limit 1831.26","close":""},"vol":"0.01092144","vol_exec":"0.01092144","cost":"20.00","fee":"0.03","price":"1831.26","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}},"count":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
